:root {
    --bright: #770500;
    --muted: #651d28;
    --dark: #360e16;
    --light: #dadaf3;
    --intense: #9e0b05;
    --background: #080b0c;
    --heading: 'Cinzel', serif;
    --type: 'Josefin Sans', sans-serif;
}

body {
    background: var(--background);
    color: var(--intense);
    font-family: var(--type);
}

.container
{text-align: center;}


nav {
    text-align: center;
    font-family: Cinzel;
    color: var(--bright);

}

nav a {
    background: var(--background);
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    color: var(--bright);
    border: 2px solid var(--bright);
    border-radius: 20px;
}

nav a:hover {
    color: var(--light);
    background: var(--intense);
}


img {
    margin: 10px auto;
    width: 50%;
    display: block;
}

h1,
h2,
h3 {
    color: var(--bright);
    font-family: Cinzel,
        serif;
}